---
title: Poseidons
description: We've built an amazing team of developers, marketers, designers and sales people.
---

<section class="pad">
	<div class="container poseidons">
		<!-- {% assign poseidons = site.poseidons | sort: 'order' %}
		{% for person in poseidons %}
			<div class="grid-container">
				<div class="row poseidons">
					<div class="col-4">
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<div class="number">#{{ person.number }}</div>
					</div>
					<div class="col-8">
						<div class="poseidon-player">
							<div class="name">{{ person.name }}</div>
							<div class="position">{{ person.role }}</div>
							<div class="description">{{ person.description }}</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %} -->
		{% assign poseidons = site.poseidons | sort: 'order' %}
		{% for person in poseidons %}
		<div class="container flex">
			<div class="text">
				<div class="name">{{ person.name }}</div>
				<div class="position">{{ person.role }}</div>
				<!-- <div class="description">{{ person.description }}</div> -->
			</div>
			<div class="image">
				<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
				<div class="number">#{{ person.number }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
