.poseidons {
	div {
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
	}

	.number {
		color: #666;
		margin-bottom: 4px;
		font-size: 2.2em;
	}

	.name {
		margin-top: 20px;
		font-size: 3.5em;
	}

	.position {
		color: #666;
		margin-top: 4px;
		font-size: 2.5em;
	}

	.description{
		margin-top: 4px;
		font-size: 1.5em;

	}

	.square-image {
		height: 650px;
		border-radius: 4px;
		background-size:contain;
		background-repeat:no-repeat;
		margin: 0 auto;
	}

}


@media #{$desktop} {
	.poseidons {
		.flex {
			@include flexbox;
			align-items: center;
			flex-direction: row;

			.text, .image {
				-webkit-flex: 1;
				flex: 1;
				padding: 0 20px;
				text-align: center;
			}
		}
	}
}